<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.lanqiao.ssm.mapper.DeptMapper">
    <select id="getDeptById" parameterType="int" resultType="dept">
        select * from  dept where deptno = #{deptno}
    </select>

    <select id="getAll" resultType="dept" parameterType="condition">
        select * from  dept
        <where>
            <if test="deptno != null &amp;&amp; deptno != 0">
                and deptno = #{deptno}
            </if>
            <if test="name != null &amp;&amp; name != ''">
                and  dname like concat ('%', #{name}, '%')
            </if>
        </where>
        <if test="currentPage != null">
            limit #{currentPage}, #{pageSize}
        </if>
    </select>

    <insert id="insertDept" parameterType="dept">
        insert into dept (dname,loc) values (#{dname}, #{loc})
    </insert>

    <update id="updateDept" parameterType="dept">
        update dept set dname = #{dname},loc = #{loc} where deptno = #{deptno}
    </update>

    <delete id="deleteDept" parameterType="int">
        delete from dept where deptno = #{deptno}
    </delete>

    <select id="getDeptCount" parameterType="condition" resultType="int">
        select count(1) from  dept
        <where>
            <if test="deptno != null &amp;&amp; deptno != 0">
                and deptno = #{deptno}
            </if>
            <if test="name != null &amp;&amp; name != ''">
                and  dname like concat ('%', #{name}, '%')
            </if>
        </where>
    </select>
</mapper>